:root {
    --white-bg: #ffffff!important;
    --color-one-line: rgba(62, 65, 73, 1);
    --color-two-line: rgba(73, 178, 180, 1);
    --color-three-line: rgba(71, 129, 130, 1);
    --gradient-bg: linear-gradient(90deg, var(--color-one-line) 5%, var(--color-two-line) 50%, var(--color-three-line) 100%);
    --bs-border-color: #8f8f8f!important;
    --bg-accordion: rgba(73, 178, 180, 1);
    --transition-collapse: .5s ease;
    --bg-selected: rgba(73, 178, 180, 0.5);
    --svg-light: #fff;
    --bg-dark: #000;
}

@font-face {
    font-family: "Source Sans ExtraLight";
    src: url(../fonts/static/SourceSans3-ExtraLight.ttf);
}

@font-face {
    font-family: "Source Sans Light";
    src: url(../fonts/static/SourceSans3-Light.ttf);
}

@font-face {
    font-family: "Source Sans Regular";
    src: url(../fonts/static/SourceSans3-Regular.ttf);
}

@font-face {
    font-family: "Source Sans Medium";
    src: url(../fonts/static/SourceSans3-Medium.ttf);
}

@font-face {
    font-family: "Source Sans Bold";
    src: url(../fonts/static/SourceSans3-Bold.ttf);
}

@font-face {
    font-family: "Source Sans ExtraBold";
    src: url(../fonts/static/SourceSans3-ExtraBold.ttf);
}

@font-face {
    font-family: "Source Sans Black";
    src: url(../fonts/static/SourceSans3-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: "Source Sans", sans-serif!important;
    background: var(--gradient-bg);
}

.selected {
    background-color: var(--bg-selected)!important;
}

.generator-table {
    max-width: 800px;
    margin: 100px 0;
    background-color: var(--white-bg);
    border-radius: 30px;
    padding: 40px;
}

input:focus,
textarea:focus {
    border-color: var(--bg-dark)!important;
}

textarea {
    resize: none!important;
    max-height: 500px;
    height: 100%;
    width: 100%;
}

.settings {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(100px);
    height: 300px;
    padding: 30px 24px 30px 60px;
    max-width: 300px;
    width: 100%;
    border-radius: 0 12px 12px 0;
    box-shadow: 0 4px 52px 6px;
    z-index: 9;
}

.accordion-button {
    padding: 16px 8px!important;
    font-size: 0.8rem!important;
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0 12px 12px 0;
}

.accordion-button:not(.collapsed) {
    color: #000!important;
    background-color: transparent!important;
}

.accordion-button::after {
    background-size: contain!important;
    transform: rotate(-90deg);
    width: 1rem!important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0)!important;
}

.collapsing {
    transition: var(--transition-collapse)!important;
}

.accordion-body {
    padding: 1rem 8px!important;
}

button svg {
    width: 24px;
    height: 24px;
    fill: var(--svg-light);
    margin-right: 16px;
}

nav button {
    width: 100%;
    height: 40px;
    padding: 0!important;
    margin-bottom: 8px;
}

nav button:hover svg {
    fill: var(--bg-dark);
}

nav button svg {
    width: 20px;
    height: 20px;
    fill: #4b4b4b;
    margin-right: 0;
    transition: .5s ease;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    background-color: var(--white-bg);
    width: 100%;
    height: auto;
    max-width: 50px;
    border-radius: 0 12px 12px 0;
}

.form-check-input:checked {
    background-color: var(--bg-dark)!important;
    border-color: var(--bg-dark)!important;
}

.form-check-input:focus {
    border-color: var(--bg-dark)!important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid var(--bs-border-color);
    text-align: left;
    padding: 8px;
}

.nav-setting{
    margin-top: 100px;
}